<!doctype html>
<html>
    <body>
        <form action="/login" method="post">
            <label>Username</label>
            <br>
            <input type="text" name="user">
            <br><br>

            <label>Password</label>
            <br>
            <input type="text" name="pass">
            <br><br>

            <input type="submit" value="Submit">
        </form>
		<br>
        <form action="/register">
            <input type="submit" value="Register">
        </form>
    </body>
</html>
