<!doctype html>
<html>
    <body>
        <form action="/new_register" method="post">
            <label>Username</label>
            <br>
            <input type="text" name="user">
            <br><br>

            <label>Password</label>
            <br>
            <input type="text" name="pass">
            <br><br>
			
			<label>First Name</label>
            <br>
            <input type="text" name="fname">
            <br><br>
			
			<label>Last Name</label>
            <br>
            <input type="text" name="lname">
            <br><br>
			
			<label>Email Address</label>
            <br>
            <input type="text" name="email">
            <br><br>

            <input type="submit" value="Submit">
        </form>
    </body>
</html>
